@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #323845;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;

  font-family: poppins;
  font-size: 1.5em;
}



.container{
  width: 950px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #323845;
  box-shadow: 14px 14px 20px #1c1f26, -14px -14px 20px #3d4456;

}

.container label{
  color: #fff;
}
.box-pad{
  justify-content: center;
  padding: 15px 0 15px ;
}
.box{
  background: #323845;
}
.box label{

  margin: 0 30px;
}

input::placeholder {
  color: gray;
}

input {
  background: #323845;
  color:#fff;
  margin-left: 15px;
  padding-left: 20px;
  height: 50px;
  width: 150px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: inset 6px 6px 6px #1c1f26, inset -6px -6px 6px #3d4456;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.data{
  margin:15px;
}

button {
  margin: 6px;
  margin-top: 20px;
  background: #323845;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-weight: 900;
  box-shadow: 6px 6px 6px #1c1f26, -12px -6px 6px #3d4456;
}
 button:hover{
    color: #fff;
    background: rgb(24,50,255);
    background: linear-gradient(90deg, rgba(24,50,255,1) 0%, rgba(96,47,224,0.6281863087031687) 47%, rgba(121,21,224,1) 100%);
    box-shadow: inset 4px 4px 10px -1px #3d4456,
       inset -4px -4px 10px -1px #1c1f26;
 }
